{% extends "base.html.twig" %}

{% block body %}
	<h1>Bonjour !</h1>
	<h2>Ca, c'est l'index de ce site fait avec Symfony</h2>
	<p>Assurément le prochain GAFAM</p>
	<p>Ah, et celui qui t'as répondu c'est
		{{ controller_name }}
	</p>
	<a href="">Créer un utilisateur</a>
	<a href="">Créer un Post</a>
	<a href="">Créer un Commentaire</a>
{% endblock %}
